:root {
    --dark-color : #13283f;
    --green-color : #33d1cc ;
    --red-color : #ff3150;
    --yellow-color : #ffc400;
    --section-color : #eff4fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background-color:var(--red-color);
    color: var(--yellow-color);
    font-weight: bold;
    padding: 0.5rem 1rem;
}
.main-btn:hover {
    color: var(--yellow-color);
}
.main-title::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--green-color);
    width: 120px;
    height: 2px;
    bottom: -20px;
}
/* Start Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-item .nav-link.active ,
.navbar .navbar-nav .nav-item .nav-link:focus ,
.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--green-color);
}
.navbar .search {
    border-left: 1px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);
}
.navbar .navbar-toggler:focus {
    box-shadow: none;
}
/* End Navbar */
/* Start Landing  */
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/* End Landing  */
/* Start Features  */
.feature .icon-holder {
    height: 200px;
}
.feature .icon-holder svg {
    left: 50%;
    transform: translateX(-50%);
}
.feature .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.feature .icon-holder .icon {
    font-size: 4.5rem;
    color: var(--green-color);
}
.feature h4 {
    color: var(--yellow-color);
}
/* End Features  */
/* Start Portofolio */
.portofolio {
    background-color: var(--section-color);
}
.portofolio .port .nav .nav-item .nav-link {
    color: black;
    font-weight: bold;
}
.portofolio .port .nav .nav-item .nav-link:hover {
    color: var(--red-color);
}
.portofolio .port .nav .nav-item .nav-link.active {
    color: var(--yellow-color);
}
.portofolio .port .img-port .img-thumbnail {
    padding:5px;
}
.portofolio .port .img-port {
    position: relative;   
}
.portofolio .port .img-port::before {
    content: "Application";
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    position: absolute;
    left: 0;
    top: 5px;
    background-color: #33d1cccc;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    height: calc(100% - 10px);
    transition: width .3s;
    overflow: hidden;
}
.portofolio .port .img-port:hover::before {
    width: calc(100% - 5px);
}
/* End Portofolio */
/* Start About  */
.about .description {
    max-width: 500px;
}
/* End About  */
/* Start Team */
.team {
    background-color: var(--section-color);
}
.team .title h2 {
    color: var(--yellow-color);
}
.team .card-title {
    background-color: var(--green-color);
    margin: 0;
}
/* End Team */
/* Start Projcet */
.projcet {
    background-color: var(--dark-color);
}
/* End Projcet */
/* Start Blog */
.blog a {
    margin: 20px auto;
    width: fit-content;
}
/* End Blog */
/* Start Contact  */
.contact {
    background-color: var(--yellow-color);
}
.contact button {
    color: var(--yellow-color);
}
.contact button:hover {
    color: var(--yellow-color);
}
.contact input::placeholder {
    color: white;
    font-weight: bold;
}
.contact input:focus {
    outline: none;
    background: none;
    box-shadow: none;
}
/* End Contact  */
/* Start Footer  */
.footer {
    background-color: var(--dark-color);
}
.footer .item .custom-foot span {
    color: var(--yellow-color);
}
.footer .nav-link {
    padding: 4px 0;
}
.footer .social {
    font-size: 22px;
    color: white;
}
.footer .social .icon-foot {
    background-color:var(--green-color);
    padding: 5px;
    border-radius: 50%;
}
/* End Footer  */